*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    height: 100vh;
    padding-top: 40px;
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    display: none;
}
table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #b9b9b9;
    display: none;
}
thead {
    background-color: #1279e7;
    color: #fff;
    font-size: 20px;
}
thead th {
    width: 50%;
    padding: 10px 15px;
}
thead th:first-child {
    border-right: 1px solid #b9b9b9;
}
tbody {
    background-color: #fff;
    text-align: center;
    font-size: 18px;
}
tbody tr:nth-child(even) {
    background-color: #eeeeee;
}
tbody tr td:first-child {
    border-right: 1px solid #b9b9b9;
}
tbody tr td{
    padding: 10px 15px;
}