*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    width: 30%;
    margin: 40px auto;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[type="text"] {
    width: 100%;
    padding: 10px 20px;
}

[type="submit"] {
    padding:10px 20px;
    border: none;
    border-radius: 20px;
    background-color: aqua;
    cursor: pointer;
}