<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Template 1</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <header>
                <img src="images/logo.png.webp" alt="logo">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                    <div class="icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </nav>
                <a href="#" class="login">Login</a>
            </header>
        </div>  

        <div class="container">
            <div class="hero">
                <h2>Get The Best Free Online Courses</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla
                    dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>
        </div>
        <div class="container">
            <div class="form">
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="submit" value="Sign Up Now">
            </div>
        </div>
    </div>

    <div class="courses">
        <div class="container">
            <h2>Our Course Categories</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            <div class="cards">
               
                <div class="card">
                    <img src="images/1.jpg" alt="image 1">
                    <div class="info">
                        <h4>IT Development</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Courses</span>
                    </div>
                </div>

                <div class="card">
                    <img src="images/2.jpg" alt="image 1">
                    <div class="info">
                        <h4>Web Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>70 Courses</span>
                    </div>
                </div>

                <div class="card">
                    <img src="images/3.jpg" alt="image 1">
                    <div class="info">
                        <h4>Illustration & Drawing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>55 Courses</span>
                    </div>
                </div>

                <div class="card">
                    <img src="images/4.jpg" alt="image 1">
                    <div class="info">
                        <h4>Social Media</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>40 Courses</span>
                    </div>
                </div>

                <div class="card">
                    <img src="images/5.jpg" alt="image 1">
                    <div class="info">
                        <h4>Photoshop</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>220 Courses</span>
                    </div>
                </div>

                <div class="card">
                    <img src="images/1.jpg" alt="image 1">
                    <div class="info">
                        <h4>Cryptocurrencies</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>25 Courses</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="search">
        <div class="container">
            <h2>Search your course</h2>
            <div class="inputs">
                <input type="text" name="course" id="course" placeholder="Course">
                <input type="text" name="category" id="category" placeholder="Category">
                <input type="submit" value="Search Courses">
            </div>
        </div>
    </div>

    <div class="features">
        <div class="container">
            <h2>Featured Courses</h2>
            <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            <ul>
                <li>All</li>
                <li>Finance</li>
                <li>Design</li>
                <li>Web Development</li>
                <li>Photography</li>
            </ul>
            <div class="boxs">

                <div class="box">
                    <div class="image">
                        <img src="images/1 (1).jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>Art & Crafts</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/1 (2).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="images/2 (1).jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>IT Development</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/2 (2).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="images/3 (1).jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>Graphic Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/3 (2).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="images/4 (1).jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>IT Development</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/4 (2).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="images/5 (1).jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>Art & Crafts</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/5 (2).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="images/6 (1).jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>Social Media</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/6 (2).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="images/7.jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>Art & Crafts</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/7 (1).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="image">
                        <img src="images/8.jpg" alt="">
                        <span class="price">Price: $15</span>
                    </div>
                    <div class="info">
                        <h4>Art & Crafts</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Students</span>
                    </div>
                    <div class="footer">
                        <img src="images/8 (1).jpg" alt="">
                        <div class="title">
                            <p class="name">William Parker,</p>
                            <p class="job">Developer</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="contact">
        <div class="contact-form">
            <h2>Sign up to became a teacher</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            <div class="signup">
                <input type="text" name="username" id="username" placeholder="Your Name">
                <input type="email" name="email" id="email" placeholder="Your E-mail">
                <input type="text" name="phone" id="phone" placeholder="Your Phone">
                <button class="course">Upload Course</button>
                <input type="submit" value="Search Course">
            </div>
        </div>
        <div class="image"></div>
    </div>

    <div class="community">
        <div class="container">
            <h2>Join Our Community Now!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            <a href="#">Register Now</a>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="boxs">
                <div class="box">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>1481 Creekside Lane
                            Avila Beach, CA 931</li>
                        <li>+53 345 7953 32453</li>
                        <li>yourmail@gmail.com</li>
                    </ul>
                </div>

                <div class="box">
                    <h4>Engeneering</h4>
                    <ul>
                        <li>Applied Studies</li>
                        <li>Computer Engeneering</li>
                        <li>Software Engeneering</li>
                        <li>Informational Engeneering</li>
                        <li>System Engeneering</li>
                    </ul>
                </div>

                <div class="box">
                    <h4>Graphic Design</h4>
                    <ul>
                        <li>Applied Studies</li>
                        <li>Computer Engeneering</li>
                        <li>Software Engeneering</li>
                        <li>Informational Engeneering</li>
                        <li>System Engeneering</li>
                    </ul>
                </div>

                <div class="box">
                    <h4>Development</h4>
                    <ul>
                        <li>Applied Studies</li>
                        <li>Computer Engeneering</li>
                        <li>Software Engeneering</li>
                        <li>Informational Engeneering</li>
                        <li>System Engeneering</li>
                    </ul>
                </div>

                <div class="box">
                    <h4>Newsletter</h4>
                    <div class="foot-form">
                        <input type="text" name="e-mail" placeholder="E-mail">
                        <input type="submit" value="Subscribe">
                        <span>*We don’t spam</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="last-foot">
            <p>Copyright ©2024 All rights reserved | This template is made with  by <span>Mostafa Negm</span></p>
            <div class="foots">
                <span>Terms & Conditions</span>
                <span>Register</span>
                <span>privacy</span>
            </div>
        </div>
    </div>

    <script>
        let nav = document.querySelector(".icon")
        let ul = document.querySelector("header nav ul")
        nav.addEventListener("click" , () => {
            ul.classList.toggle("active-nav")
        })
    </script>
    <script src="main.js"></script>
</body>
</html>